<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/layout :: head}">
</head>

<body>
	<header th:replace="~{layout/layout :: header}"></header>
	<div class="container">
		<h1 class="text-primary" th:text="${title}"></h1>
		
		<a class="btn btn-primary btn-xs" th:href="@{/usuario/form}" role="button">Crear Usuario</a>
		
		<table class="table table-striped">
			<thead>
				<tr>
					<th>id</th>
					<th>Id Usuario</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Fecha Creacion</th>
					<th>Prestamo</th>
					<th>Acción</th>
					<th>Acción</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="usuario: ${usuario}">
					<td th:text="${usuario.id}"></td>
					<td th:text="${usuario.idUsuario}"></td>
					<td th:text="${usuario.nombre}"></td>
					<td th:text="${usuario.apellido}"></td>
					<td th:text="${usuario.fechaRegistro}"></td>
					<td th:text="${usuario.prestamo}"></td>
					<td>
						<a class="btn btn-success btn-xs" th:href="@{/usuario/form/} + ${usuario.id}">
							Editar
						</a>
					</td>
					<td>
						<a class="btn btn-danger btn-xs" th:href="@{/usuario/eliminar/} + ${usuario.id}">
							Eliminar
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>





	<footer th:replace="~{layout/layout :: footer}"></footer>
</body>

</html>