<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
	<meta charset="UTF-8" />
	<title>Biblioteca</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
	<header th:fragment="header">
		<nav class="navbar navbar-expand-xl navbar-light" style="background-color: antiquewhite;">
			<div class="container-fluid">
				<a class="navbar-brand display-4" th:href="@{/home}">
					<img th:src="@{/images/logo_libro.png}" alt="" width="30" height="24">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/home}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/libro/listar}">Libros</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuario/listar}">Usuarios</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" th:href="@{/libro/form}">Libros +</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" th:href="@{/usuario/form}">Usuarios +</a>
						</li>
						<li class="nav-item">
							<form th:action="@{/logout}" method="post">
								<input type="submit" value="Desconectar" />
							</form>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Buscar</button>
					</form>
				</div>
			</div>
		</nav>

		<div class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div class="alert alert-error" th:if="${error != null}" th:text="${error}"></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>

	</header>

	<footer th:fragment="footer">
		<div class="container text-center">Derecho de Autor: PEDRO SANCHEZ PALOMINO</div>
		<script th:src="@{/js/bootstrap.min.js}"></script>

	</footer>

</body>

</html>